#drop {
    min-height: 150px;
    width: 250px;
    border: 1px solid blue;
    margin: 10px;
    padding: 10px
}

#div1 {
    background-color: rgb(255,0,255);
    border: 1px solid;
    min-height: 150px;
    width: 200px;
    padding: 5px;
}

#div2 {
    background-color: #00ff00;
    border: 1.5px dotted;
    min-height: 150px;
    padding: 20px;
}

#drag1 {
    background-color: yellow;
    width: 45px;
    height: 45px;
}

#trash, #items, .item {
    height: 75px;
    width: 75px;
}

#trash {
    color: #354e62;
}

#items {
 margin-top: 10px;
 width: 100%;
}

.item {
    background: #cdcdcd;
    color: #3b3b3b;
    float: left;
    margin-right: 10px;
}

.over {
    background-color: #cedae3;
}

.out {
    background-color: #a6bcce;
}

